img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;

}
h1 {
    font-size: 2em;
    font-weight: bold;
    color: 'white';
}
.projectHeader {
    color: #ffffff;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}
.project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 213px;

}
.project {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 20px;
    padding: 10px;
   


  
 
 
}

.checkit-out {
    background-color: #1d4e83;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 60px;
    padding: .4rem;
    font-size: 0.7em;
    font-family: 'Raleway', sans-serif;
  }

  .checkit-out:hover {
    background-color: #fff;
    color: #1d4e83;
    border: 1px solid #1d4e83;
    border-radius: 60px;
    padding: .9rem;
    font-size: 0.7em;
    font-family: 'Raleway', sans-serif;
  }

p {
    display: flex;
    justify-content: center;
    align-items: center;
    
}